version: "3.9"

services:
  # api:
  #   build: .
  #   container_name: cqrs-api
  #   depends_on:
  #     - eventstore-db
  #     - readmodel-db
  #     - nats
  #   environment:
  #     EVENTSTORE_DSN: "host=eventstore-db user=postgres password=pass dbname=eventstore port=5432 sslmode=disable"
  #     READMODEL_DSN: "host=readmodel-db user=postgres password=pass dbname=readmodel port=5432 sslmode=disable"
  #     NATS_URL: "nats://nats:4222"
  #   ports:
  #     - "8080:8080"

  eventstore-db:
    image: postgres:15
    container_name: cqrs-eventstore-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: eventstore
    ports:
      - "5433:5432"
    volumes:
      - eventstore_data:/var/lib/postgresql/data

  readmodel-db:
    image: postgres:15
    container_name: cqrs-readmodel-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: readmodel
    ports:
      - "5434:5432"
    volumes:
      - readmodel_data:/var/lib/postgresql/data

  nats:
    image: nats:latest
    container_name: cqrs-nats
    ports:
      - "4222:4222"
      - "8222:8222"

volumes:
  eventstore_data:
  readmodel_data:
