services:
    database_postgres:
      image: postgres:14
      ports:
        - 5432:5432
      environment:
        POSTGRES_PASSWORD: postgres
        POSTGRES_USER: postgres
        POSTGRES_DB: vira_dply 
      volumes:
        - ${HOME}/postgres-data/:/var/lib/postgresql/data