<p-card header="Environments">
  <p-button label="Crear Environment" icon="pi pi-plus" (click)="createEnvironment()"></p-button>

  <p-table [value]="environments()" [loading]="loading" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-env>
      <tr>
        <td>{{env.name}}</td>
        <td>{{env.description}}</td>
        <td>{{env.createdAt | date:'short'}}</td>
        <td>
          <p-button label="Ver" icon="pi pi-eye" (click)="goToEnvironment(env)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
